/* this css file will only style the homepage of our site */

.cat-photo {
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
	width: 800px;
	display: block;
}

#files {
	display: flex;
}

.folder {
	display: flexbox;
	margin-left: 1%;
	margin-right: 1%;
	width: 600px;
	height: 600px;
	padding-top: 10px;
	padding-left: 20px;
	font-size: 200%;
	text-decoration: none;
	flex-direction: row;
	flex-wrap: wrap;
}

.button {
	background-image: url(../img/folder-icon.png);
	background-size: contain;
	background-repeat: no-repeat;
	transition-duration: 0.2s;
}

.button:hover {
	transform: scale(1.2);
	margin-left: 5%;
	margin-right: 5%;
}
