/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
	padding: 15px;
	margin-bottom: 10px;
	border: solid 5px black;
	border-radius: 25px;
	background-color: #ddd8c4;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h2 {
	font-size: xx-large;
}

p {
	font-size: large;
}

#output {
	max-width: 40%;
}
